body {
    padding: 0;
    margin: 0;
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 100px 100px 100px;
    gap: 5px;
    /* margin-left: 200px;
    text-align: center; */
    margin: auto;
    width: 600px;
    height: 500px;
    margin-top: 50px;
}

.grid1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 3;
    grid-column: span 2;

}

.grid2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* grid-column: span 2; */
}

.grid3 {
    width: 100%;
    height: 100%;
    grid-row: span 2; 
}

.grid4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 2;
}

.grid5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.grid6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 4/1/4/3;
}

.grid7 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2;

}

.grid8 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 2;

}

.grid9 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2;
}

.grid10 {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.grid11 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid12 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.grid13 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid14 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}